.w3-2021-peach-fuzz
{color:#000!important;background-color:#FFBE98!important}
.w3-2021-marigold
{color:#000!important;background-color:#FDAC53!important}
.w3-2021-cerulean
{color:#000!important;background-color:#9BB7D4!important}
.w3-2021-rust
{color:#fff!important;background-color:#B55A30!important}
.w3-2021-illuminating
{color:#000!important;background-color:#F5DF4D!important}
.w3-2021-french-blue
{color:#fff!important;background-color:#0072B5!important}
.w3-2021-green-ash
{color:#000!important;background-color:#A0DAA9!important}
.w3-2021-burnt-coral
{color:#fff!important;background-color:#E9897E!important}
.w3-2021-mint
{color:#fff!important;background-color:#00A170!important}
.w3-2021-amethyst-orchid
{color:#fff!important;background-color:#926AA6!important}
.w3-2021-raspberry-sorbet
{color:#fff!important;background-color:#D2386C!important}
.w3-2021-inkwell
{color:#fff!important;background-color:#363945!important}
.w3-2021-ultimate-gray,.w3-2021-ultimate-grey
{color:#fff!important;background-color:#939597!important}
.w3-2021-buttercream
{color:#000!important;background-color:#EFE1CE!important}
.w3-2021-desert-mist
{color:#000!important;background-color:#E0B589!important}
.w3-2021-willow
{color:#fff!important;background-color:#9A8B4F!important}
.w3-2021-myknos-blue
{color:#fff!important;background-color:#005B88!important}
.w3-2021-leprechaun
{color:#fff!important;background-color:#378661!important}
.w3-2021-fuchsia-fedora
{color:#fff!important;background-color:#CA4286!important}
.w3-2021-pale-rosette
{color:#000!important;background-color:#FFBBB9!important}
.w3-2021-adobe
{color:#fff!important;background-color:#A66948!important}
.w3-2021-fire-whirl
{color:#fff!important;background-color:#A73730!important}
.w3-2021-rhodonite
{color:#fff!important;background-color:#302C4D!important}
.w3-2021-spring-lake
{color:#fff!important;background-color:#698295!important}
.w3-2021-root-beer
{color:#fff!important;background-color:#714A41!important}
.w3-2021-coconut-cream
{color:#000!important;background-color:#EFE3DF!important}
.w3-2021-soybean
{color:#000!important;background-color:#D7C49E!important}
.w3-2021-olive-branch
{color:#fff!important;background-color:#6A6A45!important}

.w3-2024-rooibos-tea
{color:#fff!important;background-color:#AE4B38!important}
.w3-2024-orangeade
{color:#fff!important;background-color:#E75936!important}
.w3-2024-watercress
{color:#fff!important;background-color:#708C66!important}
.w3-2024-desert-flower
{color:#000!important;background-color:#FF9A90!important}
.w3-2024-chambray-blue
{color:#000!important;background-color:#A4B9DA!important}
.w3-2024-pastel-lilac
{color:#000!important;background-color:#BEB2D5!important}
.w3-2024-marlin
{color:#fff!important;background-color:#505C84!important}
.w3-2024-lemon-drop
{color:#000!important;background-color:#F8D974!important}
.w3-2024-mint
{color:#fff!important;background-color:#00AB78!important}
.w3-2024-capri
{color:#fff!important;background-color:#42BDCB!important}
.w3-2024-brilliant-white
{color:#000!important;background-color:#EDF1FF!important}
.w3-2024-mushroom
{color:#000!important;background-color:#BCABA0!important}
.w3-2024-northern-droplet
{color:#000!important;background-color:#BDC1C0!important}
.w3-2024-quiet-shade
{color:#fff!important;background-color:#696C71!important}
.w3-2024-brush
{color:#fff!important;background-color:#B99B86!important}
.w3-2024-peach-fuzz
{color:#000!important;background-color:#FFBE98!important}
.w3-2024-tomato-cream
{color:#fff!important;background-color:#C57644!important}
.w3-2024-scarlet-smile
{color:#fff!important;background-color:#9F2436!important}
.w3-2024-golden-palm
{color:#fff!important;background-color:#AF8D1F!important}
.w3-2024-aventurine
{color:#fff!important;background-color:#005348!important}
.w3-2024-red-orange
{color:#fff!important;background-color:#EF5327!important}
.w3-2024-fern
{color:#fff!important;background-color:#999E62!important}
.w3-2024-italian-plum
{color:#fff!important;background-color:#51354A!important}
.w3-2024-moonstruck
{color:#000!important;background-color:#C2BEB6!important}
.w3-2024-winter-sky
{color:#000!important;background-color:#A6C0CD!important}
.w3-2024-lucent-white
{color:#000!important;background-color:#F4F7FF!important}

.w3-2025-mocha-mousse
{color:#fff!important;background-color:#A47864!important}
.w3-2025-bran
{color:#fff!important;background-color:#A66E4A!important}
.w3-2025-crocus
{color:#fff!important;background-color:#C67FAE!important}
.w3-2025-lime-cream
{color:#000!important;background-color:#D7E8BC!important}
.w3-2025-limpet-shell
{color:#000!important;background-color:#98DDDF!important}
.w3-2025-white-grape
{color:#fff!important;background-color:#A6BE47!important}
.w3-2025-dejavu-blue
{color:#fff!important;background-color:#2E5283!important}
.w3-2025-kashmir
{color:#fff!important;background-color:#6F8D6A!important}
.w3-2025-misted-marigold
{color:#000!important;background-color:#E3BD33!important}
.w3-2025-orangeade
{color:#fff!important;background-color:#E2552D!important}
.w3-2025-cocoon
{color:#fff!important;background-color:#C9B27C!important}
.w3-2025-eclipse
{color:#fff!important;background-color:#344148!important}
.w3-2025-antique-white
{color:#000!important;background-color:#EDE3D2!important}
.w3-2025-rum-rasin
{color:#fff!important;background-color:#583432!important}
.w3-2025-moonbeam
{color:#000!important;background-color:#CDC6BD!important}
.w3-2025-blue-granite
{color:#fff!important;background-color:#717388!important}
.w3-2025-lemon-grass
{color:#000!important;background-color:#DCD494!important}
.w3-2025-brandied-melon
{color:#fff!important;background-color:#D1805F!important}
.w3-2025-lyons-blue
{color:#fff!important;background-color:#005871!important}
.w3-2025-damson
{color:#fff!important;background-color:#854C65!important}
.w3-2025-primrose-pink
{color:#000!important;background-color:#EFDADD!important}
.w3-2025-winterberry
{color:#fff!important;background-color:#BE394F!important}
.w3-2025-hot-chocolate
{color:#fff!important;background-color:#704A49!important}
.w3-2025-chili-oil
{color:#fff!important;background-color:#8F3D37!important}
.w3-2025-poppy-red
{color:#fff!important;background-color:#DC343B!important}
.w3-2025-bronze-brown
{color:#fff!important;background-color:#82643E!important}
.w3-2025-bright-white
{color:#000!important;background-color:#F4F5F0!important}
.w3-2025-french-roast
{color:#fff!important;background-color:#58423F!important}
.w3-2025-vapor-blue
{color:#000!important;background-color:#BDBEBF!important}
.w3-2025-crown-blue
{color:#fff!important;background-color:#464B65!important}
.w3-2025-mauve-wine
{color:#fff!important;background-color:#5B3644!important}

.w3-2020-classic-blue
{color:#fff!important;background-color:#34568B!important}
.w3-2020-flame-scarlet
{color:#fff!important;background-color:#CD212A!important}
.w3-2020-saffron
{color:#000!important;background-color:#FFA500!important}
.w3-2020-biscay-green
{color:#000!important;background-color:#56C6A9!important}
.w3-2020-chive
{color:#fff!important;background-color:#4B5335!important}
.w3-2020-faded-denim
{color:#fff!important;background-color:#798EA4!important}
.w3-2020-orange-peel
{color:#fff!important;background-color:#FA7A35!important}
.w3-2020-mosaic-blue
{color:#fff!important;background-color:#00758F!important}
.w3-2020-sunlight
{color:#000!important;background-color:#EDD59E!important}
.w3-2020-coral-pink
{color:#000!important;background-color:#E8A798!important}
.w3-2020-cinnamon-stick
{color:#fff!important;background-color:#9C4722!important}
.w3-2020-grape-compote
{color:#fff!important;background-color:#6B5876!important}
.w3-2020-lark
{color:#fff!important;background-color:#B89B72!important}
.w3-2020-navy-blazer
{color:#fff!important;background-color:#282D3C!important}
.w3-2020-brilliant-white
{color:#000!important;background-color:#EDF1FF!important}
.w3-2020-ash
{color:#fff!important;background-color:#A09998!important}
.w3-2020-amberglow
{color:#fff!important;background-color:#DC793E!important}
.w3-2020-samba
{color:#fff!important;background-color:#A2242F!important}
.w3-2020-sandstone
{color:#fff!important;background-color:#C48A69!important}
.w3-2020-green-sheen
{color:#000!important;background-color:#D9CE52!important}
.w3-2020-rose-tan
{color:#000!important;background-color:#D19C97!important}
.w3-2020-ultramarine-green
{color:#fff!important;background-color:#006B54!important}
.w3-2020-fired-brick
{color:#fff!important;background-color:#6A2E2A!important}
.w3-2020-peach-nougat
{color:#000!important;background-color:#E6AF91!important}
.w3-2020-magenta-purple
{color:#fff!important;background-color:#6C244C!important}

.w3-2019-fiesta
{color:#fff!important;background-color:#DD4132!important}
.w3-2019-jester-red
{color:#fff!important;background-color:#9E1030!important}
.w3-2019-turmeric
{color:#fff!important;background-color:#FE840E!important}
.w3-2019-living-coral
{color:#fff!important;background-color:#FF6F61!important}
.w3-2019-pink-peacock
{color:#fff!important;background-color:#C62168!important}
.w3-2019-pepper-stem
{color:#fff!important;background-color:#8D9440!important}
.w3-2019-aspen-gold
{color:#000!important;background-color:#FFD662!important}
.w3-2019-princess-blue
{color:#fff!important;background-color:#00539C!important}
.w3-2019-toffee
{color:#fff!important;background-color:#755139!important}
.w3-2019-mango-mojito
{color:#000!important;background-color:#D69C2F!important}
.w3-2019-terrarium-moss
{color:#fff!important;background-color:#616247!important}
.w3-2019-sweet-lilac
{color:#000!important;background-color:#E8B5CE!important}
.w3-2019-soybean
{color:#000!important;background-color:#D2C29D!important}
.w3-2019-eclipse
{color:#fff!important;background-color:#343148!important}
.w3-2019-sweet-corn
{color:#000!important;background-color:#F0EAD6!important}
.w3-2019-brown-granite
{color:#fff!important;background-color:#615550!important}
.w3-2019-chili-pepper
{color:#fff!important;background-color:#9B1B30!important}
.w3-2019-biking-red
{color:#fff!important;background-color:#77212E!important}
.w3-2019-creme-de-peche
{color:#000!important;background-color:#F5D6C6!important}
.w3-2019-peach-pink
{color:#fff!important;background-color:#FA9A85!important}
.w3-2019-rocky-road
{color:#fff!important;background-color:#5A3E36!important}
.w3-2019-fruit-dove
{color:#fff!important;background-color:#CE5B78!important}
.w3-2019-sugar-almond
{color:#fff!important;background-color:#935529!important}
.w3-2019-dark-cheddar
{color:#fff!important;background-color:#E08119!important}
.w3-2019-galaxy-blue
{color:#fff!important;background-color:#2A4B7C!important}
.w3-2019-bluestone
{color:#fff!important;background-color:#577284!important}
.w3-2019-orange-tiger
{color:#fff!important;background-color:#F96714!important}
.w3-2019-eden
{color:#fff!important;background-color:#264E36!important}
.w3-2019-vanilla-custard
{color:#000!important;background-color:#F3E0BE!important}
.w3-2019-evening-blue
{color:#fff!important;background-color:#2A293E!important}
.w3-2019-paloma
{color:#fff!important;background-color:#9F9C99!important}
.w3-2019-guacamole
{color:#fff!important;background-color:#797B3A!important}

.w3-2019-fiesta
{color:#fff!important;background-color:#DD4132!important}
.w3-2019-jester-red
{color:#fff!important;background-color:#9E1030!important}
.w3-2019-turmeric
{color:#fff!important;background-color:#FE840E!important}
.w3-2019-living-coral
{color:#fff!important;background-color:#FF6F61!important}
.w3-2019-pink-peacock
{color:#fff!important;background-color:#C62168!important}
.w3-2019-pepper-stem
{color:#fff!important;background-color:#8D9440!important}
.w3-2019-aspen-gold
{color:#000!important;background-color:#FFD662!important}
.w3-2019-princess-blue
{color:#fff!important;background-color:#00539C!important}
.w3-2019-toffee
{color:#fff!important;background-color:#755139!important}
.w3-2019-mango-mojito
{color:#000!important;background-color:#D69C2F!important}
.w3-2019-terrarium-moss
{color:#fff!important;background-color:#616247!important}
.w3-2019-sweet-lilac
{color:#000!important;background-color:#E8B5CE!important}
.w3-2019-soybean
{color:#000!important;background-color:#D2C29D!important}
.w3-2019-eclipse
{color:#fff!important;background-color:#343148!important}
.w3-2019-sweet-corn
{color:#000!important;background-color:#F0EAD6!important}
.w3-2019-brown-granite
{color:#fff!important;background-color:#615550!important}
.w3-2019-chili-pepper
{color:#fff!important;background-color:#9B1B30!important}
.w3-2019-biking-red
{color:#fff!important;background-color:#77212E!important}
.w3-2019-creme-de-peche
{color:#000!important;background-color:#F5D6C6!important}
.w3-2019-peach-pink
{color:#fff!important;background-color:#FA9A85!important}
.w3-2019-rocky-road
{color:#fff!important;background-color:#5A3E36!important}
.w3-2019-fruit-dove
{color:#fff!important;background-color:#CE5B78!important}
.w3-2019-sugar-almond
{color:#fff!important;background-color:#935529!important}
.w3-2019-dark-cheddar
{color:#fff!important;background-color:#E08119!important}
.w3-2019-galaxy-blue
{color:#fff!important;background-color:#2A4B7C!important}
.w3-2019-bluestone
{color:#fff!important;background-color:#577284!important}
.w3-2019-orange-tiger
{color:#fff!important;background-color:#F96714!important}
.w3-2019-eden
{color:#fff!important;background-color:#264E36!important}
.w3-2019-vanilla-custard
{color:#000!important;background-color:#F3E0BE!important}
.w3-2019-evening-blue
{color:#fff!important;background-color:#2A293E!important}
.w3-2019-paloma
{color:#fff!important;background-color:#9F9C99!important}
.w3-2019-guacamole
{color:#fff!important;background-color:#797B3A!important}

.w3-2018-red-pear
{color:#fff!important;background-color:#7F4145!important}
.w3-2018-valiant-poppy
{color:#fff!important;background-color:#BD3D3A!important}
.w3-2018-nebulas-blue
{color:#fff!important;background-color:#3F69AA!important}
.w3-2018-ceylon-yellow
{color:#000!important;background-color:#D5AE41!important}
.w3-2018-martini-olive
{color:#fff!important;background-color:#766F57!important}
.w3-2018-russet-orange
{color:#fff!important;background-color:#E47A2E!important}
.w3-2018-crocus-petal
{color:#000!important;background-color:#BE9EC9!important}
.w3-2018-limelight
{color:#000!important;background-color:#F1EA7F!important}
.w3-2018-quetzal-green
{color:#fff!important;background-color:#006E6D!important}
.w3-2018-sargasso-sea
{color:#fff!important;background-color:#485167!important}
.w3-2018-tofu
{color:#000!important;background-color:#EAE6DA!important}
.w3-2018-almond-buff
{color:#000!important;background-color:#D1B894!important}
.w3-2018-quiet-gray,.w3-2018-quiet-grey
{color:#000!important;background-color:#BCBCBE!important}
.w3-2018-meerkat
{color:#fff!important;background-color:#A47045!important}
.w3-2018-meadowlark
{color:#000!important;background-color:#ECDB54!important}
.w3-2018-cherry-tomato
{color:#fff!important;background-color:#E94B3C!important}
.w3-2018-little-boy-blue
{color:#000!important;background-color:#6F9FD8!important}
.w3-2018-chili-oil
{color:#fff!important;background-color:#944743!important}
.w3-2018-pink-lavender
{color:#000!important;background-color:#DBB1CD!important}
.w3-2018-blooming-dahlia
{color:#000!important;background-color:#EC9787!important}
.w3-2018-arcadia
{color:#fff!important;background-color:#00A591!important}
.w3-2018-emperador
{color:#fff!important;background-color:#6C4F3D!important}
.w3-2018-ultra-violet
{color:#fff!important;background-color:#6B5B95!important}
.w3-2018-almost-mauve
{color:#000!important;background-color:#EADEDB!important}
.w3-2018-spring-crocus
{color:#fff!important;background-color:#BC70A4!important}
.w3-2018-lime-punch
{color:#000!important;background-color:#BFD641!important}
.w3-2018-sailor-blue
{color:#fff!important;background-color:#2E4A62!important}
.w3-2018-harbor-mist
{color:#000!important;background-color:#B4B7BA!important}
.w3-2018-warm-sand
{color:#000!important;background-color:#C0AB8E!important}
.w3-2018-coconut-milk
{color:#000!important;background-color:#F0EDE5!important}

.w3-2017-greenery
{color:#fff!important;background-color:#92B558!important}
.w3-2017-grenadine
{color:#fff!important;background-color:#DC4C46!important}
.w3-2017-tawny-port
{color:#fff!important;background-color:#672e3b!important}
.w3-2017-ballet-slipper
{color:#000!important;background-color:#f3d6e4!important}
.w3-2017-butterum
{color:#fff!important;background-color:#c48f65!important}
.w3-2017-navy-peony
{color:#fff!important;background-color:#223a5e!important}
.w3-2017-neutral-gray,.w3-2017-neutral-grey
{color:#fff!important;background-color:#898e8c!important}
.w3-2017-shaded-spruce
{color:#fff!important;background-color:#005960!important}
.w3-2017-golden-lime
{color:#fff!important;background-color:#9c9a40!important}
.w3-2017-marina
{color:#fff!important;background-color:#4F84C4!important}
.w3-2017-autumn-maple
{color:#fff!important;background-color:#d2691e!important}
.w3-2017-niagara
{color:#fff!important;background-color:#578CA9!important}
.w3-2017-primrose-yellow
{color:#000!important;background-color:#f6d155!important}
.w3-2017-lapis-blue
{color:#fff!important;background-color:#004b8d!important}
.w3-2017-flame
{color:#fff!important;background-color:#f2552c!important}
.w3-2017-island-paradise
{color:#000!important;background-color:#95dee3!important}
.w3-2017-pale-dogwood
{color:#000!important;background-color:#edcdc2!important}
.w3-2017-pink-yarrow
{color:#fff!important;background-color:#ce3175!important}
.w3-2017-kale
{color:#fff!important;background-color:#5a7247!important}
.w3-2017-hazelnut
{color:#000!important;background-color:#cfb095!important}

.w3-highway-brown
{color:#fff!important;background-color:#633517!important}

.w3-highway-red
{color:#fff!important;background-color:#a6001a!important}

.w3-highway-orange
{color:#fff!important;background-color:#e06000!important}

.w3-highway-schoolbus
{color:#fff!important;background-color:#ee9600!important}

.w3-highway-yellow
{color:#fff!important;background-color:#ffab00!important}

.w3-highway-green
{color:#fff!important;background-color:#004d33!important}

.w3-highway-blue
{color:#fff!important;background-color:#00477e!important}

.w3-safety-red
{color:#fff!important;background-color:#bd1e24!important}

.w3-safety-orange
{color:#fff!important;background-color:#e97600!important}

.w3-safety-yellow
{color:#fff!important;background-color:#f6c700!important}

.w3-safety-green
{color:#fff!important;background-color:#007256!important}

.w3-safety-blue
{color:#fff!important;background-color:#0067a7!important}

.w3-safety-purple
{color:#fff!important;background-color:#964f8e!important}

.w3-signal-yellow
{color:#fff;background-color:#f7ba0b!important}

.w3-signal-orange
{color:#fff;background-color:#d4652f!important}

.w3-signal-red
{color:#fff;background-color:#a02128!important}

.w3-signal-violet
{color:#fff;background-color:#904684!important}

.w3-signal-blue
{color:#fff;background-color:#154889!important}

.w3-signal-green
{color:#fff;background-color:#317f43!important}

.w3-signal-grey
{color:#fff;background-color:#9b9b9b!important}

.w3-signal-brown
{color:#fff;background-color:#7b5141!important}

.w3-signal-white
{color:#000;background-color:#f4f4f4!important}

.w3-signal-black
{color:#fff;background-color:#282828!important}

.w3-vivid-pink
{color:#fff!important;background-color:#ffb5bA!important}
.w3-vivid-red
{color:#fff!important;background-color:#be0032!important}
.w3-vivid-orange
{color:#fff!important;background-color:#f38400!important}
.w3-vivid-yellow
{color:#fff!important;background-color:#f3c300!important}
.w3-vivid-green
{color:#fff!important;background-color:#008856!important}
.w3-vivid-blue
{color:#fff!important;background-color:#00a1c2!important}
.w3-vivid-black
{color:#fff!important;background-color:#000!important}
.w3-vivid-white
{color:#000!important;background-color:#fff!important}

.w3-vivid-purple
{color:#fff!important;background-color:#9a4eae!important}
.w3-vivid-purple
{color:#fff!important;background-color:#9a4eae!important}
.w3-vivid-yellowish-pink
{color:#fff!important;background-color:#ffb7a5!important}
.w3-vivid-reddish-orange
{color:#fff!important;background-color:#e25822!important}
.w3-vivid-orange-yellow
{color:#fff!important;background-color:#f6a600!important}
.w3-vivid-greenish-yellow
{color:#fff!important;background-color:#dcd300!important}
.w3-vivid-yellow-green
{color:#fff!important;background-color:#8db600!important}
.w3-vivid-yellowish-green
{color:#fff!important;background-color:#27a64c!important}
.w3-vivid-bluish-green
{color:#fff!important;background-color:#008882!important}
.w3-vivid-greenish-blue
{color:#fff!important;background-color:#0085a1!important}
.w3-vivid-purplish-blue
{color:#fff!important;background-color:#30267a!important}
.w3-vivid-reddish-purple
{color:#fff!important;background-color:#870074!important}
.w3-vivid-purplish-red
{color:#fff!important;background-color:#ce4676!important}

.w3-food-apple
{color:#000!important;background-color:#76cd26!important}
.w3-food-aspargus
{color:#fff!important;background-color:#77ab56!important}
.w3-food-apricot
{color:#fff!important;background-color:#ffb16d!important}
.w3-food-aubergine
{color:#fff!important;background-color:#3d0734!important}
.w3-food-avocado
{color:#fff!important;background-color:#87a922!important}
.w3-food-banana
{color:#000!important;background-color:#fafe4b!important}
.w3-food-butter
{color:#000!important;background-color:#ffff81!important}
.w3-food-blueberry
{color:#fff!important;background-color:#464196!important}
.w3-food-carrot
{color:#fff!important;background-color:#e67e22!important}
.w3-food-cherry
{color:#fff!important;background-color:#cf0234!important}
.w3-food-chocolate
{color:#fff!important;background-color:#411900!important}
.w3-food-cranberry
{color:#fff!important;background-color:#9e003a!important}
.w3-food-coffee
{color:#fff!important;background-color:#a6814c!important}
.w3-food-egg
{color:#000!important;background-color:#fffcc4!important}
.w3-food-grape
{color:#fff!important;background-color:#6c3461!important}
.w3-food-kiwi
{color:#000!important;background-color:#8ee53f!important}
.w3-food-lemon
{color:#000!important;background-color:#fdff52!important}
.w3-food-lime
{color:#000!important;background-color:#bffe28!important}
.w3-food-mango
{color:#fff!important;background-color:#ffa62b!important}
.w3-food-mushroom
{color:#fff!important;background-color:#ba9e88!important}
.w3-food-mustard
{color:#fff!important;background-color:#ceb301!important}
.w3-food-mint
{color:#000!important;background-color:#c0fa8b!important}
.w3-food-olive
{color:#fff!important;background-color:#6e750e!important}
.w3-food-orange
{color:#fff!important;background-color:#f97306!important}
.w3-food-pea
{color:#fff!important;background-color:#a4bf20!important}
.w3-food-peach
{color:#fff!important;background-color:#ffb07c!important}
.w3-food-pear
{color:#000!important;background-color:#cbf85f!important}
.w3-food-pistachio
{color:#000!important;background-color:#c0fa8b!important}
.w3-food-plum
{color:#fff!important;background-color:#3f012c!important}
.w3-food-pomegranate
{color:#fff!important;background-color:#c0392b!important}
.w3-food-pumpkin
{color:#fff!important;background-color:#d35400!important}
.w3-food-raspberry
{color:#fff!important;background-color:#b00149!important}
.w3-food-saffron
{color:#fff!important;background-color:#feb209!important}
.w3-food-salmon
{color:#fff!important;background-color:#ff796c!important}
.w3-food-spearmint
{color:#000!important;background-color:#1ef876!important}
.w3-food-squash
{color:#fff!important;background-color:#f2ab15!important}
.w3-food-strawberry
{color:#fff!important;background-color:#fb2943!important}
.w3-food-tomato
{color:#fff!important;background-color:#ec2d01!important}
.w3-food-wheat
{color:#000!important;background-color:#fbdd7e!important}
.w3-food-wine
{color:#fff!important;background-color:#80013f!important}
.w3-camo-brown
{color:#fff!important;background-color:#594d45!important}

.w3-camo-red
{color:#fff!important;background-color:#79533d!important}

.w3-camo-olive
{color:#fff!important;background-color:#595142!important}

.w3-camo-field
{color:#fff!important;background-color:#745d46!important}

.w3-camo-earth
{color:#fff!important;background-color:#ac7e54!important}

.w3-camo-sand
{color:#fff!important;background-color:#a9947b!important}

.w3-camo-tan
{color:#fff!important;background-color:#b49d80!important}

.w3-camo-sandstone
{color:#fff!important;background-color:#bcab90!important}

.w3-camo-dark-green
{color:#fff!important;background-color:#535640!important}

.w3-camo-forest
{color:#fff!important;background-color:#54504b!important}

.w3-camo-light-green
{color:#fff!important;background-color:#63613e!important}

.w3-camo-green
{color:#fff!important;background-color:#4a5444!important}

.w3-camo-dark-gray,.w3-camo-dark-grey
{color:#fff!important;background-color:#5c5c5b!important}

.w3-camo-gray,.w3-camo-grey
{color:#fff!important;background-color:#9495a5!important}

.w3-camo-black
{color:#fff!important;background-color:#373538!important}

.w3-theme-l5 {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fff3cd !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffe69b !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffda69 !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffcd37 !important}
.w3-theme-d1 {color:#000 !important; background-color:#eab000 !important}
.w3-theme-d2 {color:#fff !important; background-color:#d09c00 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b68900 !important}
.w3-theme-d4 {color:#fff !important; background-color:#9c7500 !important}
.w3-theme-d5 {color:#fff !important; background-color:#826200 !important}

.w3-theme-light {color:#000 !important; background-color:#fffbf0 !important}
.w3-theme-dark {color:#fff !important; background-color:#826200 !important}
.w3-theme-action {color:#fff !important; background-color:#826200 !important}

.w3-theme {color:#000 !important; background-color:#ffc107 !important}
.w3-text-theme {color:#ffc107 !important}
.w3-border-theme {border-color:#ffc107 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ffc107 !important}
.w3-hover-text-theme:hover {color:#ffc107 !important}
.w3-hover-border-theme:hover {border-color:#ffc107 !important}